# Environment and IDE
.env
.venv/
.idea/
.DS_Store

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Dynamic / User-generated folders
# We ignore the contents but keep the folder structure if needed
uploads/*
!uploads/.gitkeep
generated/*
!generated/.gitkeep

tests/*
tests